<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<style>
    .hide{
        display: none !important;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t layui-form" id="signupForm">
                        <input id="merchantId" name="merchantId" class="form-control" type="hidden" th:value="${merchantId}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">线下课程主题：</label>
                            <div class="col-sm-2">
                                <select name="activityThemeId" lay-filter="activityThemeId" lay-verify="" id="activityThemeId">
                                    <!--<option value="">请选择</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">报名开始时间：</label>
                            <div class="col-sm-3">
                                <input id="applyStartTime" name="applyStartTimeDesc" class="form-control" type="text">
                            </div>
                            <label class="col-sm-3 control-label">报名结束时间：</label>
                            <div class="col-sm-3">
                                <input id="applyEndTime" name="applyEndTimeDesc" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开课城市：</label>
                            <div class="col-sm-2">
                                <input id="activityAddress" name="activityAddress" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开课开始时间：</label>
                            <div class="col-sm-3">
                                <input id="activityStartTime" name="activityStartTimeDesc" class="form-control" type="text">
                            </div>
                            <label class="col-sm-3 control-label">开课结束时间：</label>
                            <div class="col-sm-3">
                                <input id="activityEndTime" name="activityEndTimeDesc" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">原价：</label>
                            <div class="col-sm-2">
                                <input id="activityPrice" name="activityPriceDesc" class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否复训：</label>
                            <div class="col-sm-8">
                                <!--<input id="isRetraining" name="isRetraining" class="form-control" type="text">-->
                                <div class="layui-input-block ckz-radio">
                                    <input type="radio" name="isRetraining" value="0" title="不复训" checked>
                                    <input type="radio" name="isRetraining" value="1" title="复训" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group ckz">
                            <label class="col-sm-3 control-label">复训价格：</label>
                            <div class="col-sm-2">
                                <input id="retrainingPrice" name="retrainingPriceDesc" class="form-control" type="text" >
                            </div>
                        </div>
                        <!--<div class="form-group">	-->
                        <!--<label class="col-sm-3 control-label">上个活动主题：</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--&lt;!&ndash;<input id="activityParentId" name="activityParentId" class="form-control" type="text">&ndash;&gt;-->
                        <!--<select name="activityParentId" lay-filter="activityParentId" lay-verify="" id="activityParentId">-->
                        <!--&lt;!&ndash;<option value="">请选择</option>&ndash;&gt;-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">报名人数：</label>
                            <div class="col-sm-2">
                                <input id="limitCount" name="limitCount" class="form-control" type="text" >
                            </div>
                        </div>
                        <!--<div class="form-group">	-->
                        <!--<label class="col-sm-3 control-label">购买人数：</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input id="buyCount" name="buyCount" class="form-control" type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否推荐：</label>
                            <div class="col-sm-8">
                                <div class="layui-input-block">
                                    <input type="radio" name="isRecommend" value="0" title="不推荐" checked>
                                    <input type="radio" name="isRecommend" value="1" title="推荐" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否展示：</label>
                            <div class="col-sm-8">
                                <div class="layui-input-block">
                                    <input type="radio" name="isShow" value="0" title="不展示" checked>
                                    <input type="radio" name="isShow" value="1" title="展示" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否可用重复购买：</label>
                            <div class="col-sm-8">
                                <!--<input id="isRebuy" name="isRebuy" class="form-control" type="text">-->
                                <div class="layui-input-block">
                                    <input type="radio" name="isRebuy" value="0" title="不可用" checked>
                                    <input type="radio" name="isRebuy" value="1" title="可用" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否返佣：</label>
                            <div class="col-sm-8">
                                <!--<input id="isMaid" name="isMaid" class="form-control" type="text">-->
                                <div class="layui-input-block">
                                    <input type="radio" name="isMaid" value="0" title="不返佣" checked>
                                    <input type="radio" name="isMaid" value="1" title="返佣" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">购买最低要求：</label>
                            <div class="col-sm-2">
                                <!--<input id="minRequirement" name="minRequirement" class="form-control" type="text">-->
                                <select name="minRequirement" name="minRequirement" lay-verify="" id="minRequirement">
                                    <option value="">请选择</option>
                                    <option value="1">普通会员</option>
                                    <option value="2" selected>认证会员</option>
                                    <option value="99">业务员</option>
                                </select>
                            </div>
                        </div>
                        <!--<div class="form-group">	-->
                        <!--<label class="col-sm-3 control-label">商户号：</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input id="merchantId" name="merchantId" class="form-control" type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">	-->
                        <!--<label class="col-sm-3 control-label">：</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input id="createTime" name="createTime" class="form-control" type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">	-->
                        <!--<label class="col-sm-3 control-label">：</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input id="modifyTime" name="modifyTime" class="form-control" type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">	-->
                        <!--<label class="col-sm-3 control-label">：</label>-->
                        <!--<div class="col-sm-8">-->
                        <!--<input id="available" name="available" class="form-control" type="text">-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/offlineActivityManager/add.js">
</script>
</body>
</html>
