<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<style>
    .hide {
        display: none !important;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t layui-form" id="signupForm">
                        <input id="id" name="id" class="form-control" type="hidden" th:value="${userCertification.id}">
                        <div class="form-group">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">真实姓名：</label>
                                <div class="col-sm-2">
                                    <input id="realName" name="realName" class="form-control" type="text"
                                           th:value="${userCertification.realName}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">性别：</label>
                                <div class="col-sm-2">
                                    <input id="sexHidden" name="sexHidden" class="form-control" type="hidden"
                                           th:value="${userCertification.sex}">
                                    <select class="form-control" id="sex" placeholder="性别">
                                        <option value="" selected></option>
                                        <option value="0">男</option>
                                        <option value="1">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">城市：</label>
                                <div class="col-sm-2">
                                    <input id="city" name="city" class="form-control" type="text"
                                           th:value="${userCertification.city}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">职业：</label>
                                <div class="col-sm-2">
                                    <input id="professionHidden" name="professionHidden" class="form-control" type="hidden"
                                           th:value="${userCertification.profession}">
                                    <select class="form-control" id="profession" placeholder="职业">
                                        <option value="" selected></option>
                                        <option value="0">品牌商</option>
                                        <option value="1">团队长</option>
                                        <option value="2">创业者</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/userCertificationManager/edit.js">
</script>
</body>
</html>
