<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t layui-form" id="signupForm">
                        <input id="id" name="id" class="form-control" type="hidden" th:value="${clainfo.id}">
                        <input id="merchantId" name="merchantId" class="form-control" type="hidden" th:value="${clainfo.merchantId}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属分类：</label>
                            <div class="col-sm-3">
                                <select id="categoryId" lay-filter="categoryId" lay-verify="">
                                    <option value="">请选择</option>
                                    <!--<option value="1" th:selected="${clainfo.categoryId==1?true:false}">精品课程</option>-->
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <select id="classSetId" lay-filter="classSetId" name="classSetId" lay-verify="">
                                    <option value="">请选择</option>
                                    <!--<option value="4" th:selected="${clainfo.classSetId==4?true:false}">精品课程</option>-->
                                    <!--<option value="5" th:selected="${clainfo.classSetId==5?true:false}">VIP高级课程</option>-->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>节课标题：</label>
                            <div class="col-sm-4">
                                <input id="title" name="title" class="form-control" type="text"
                                       th:value="${clainfo.title}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>副标题：</label>
                            <div class="col-sm-4">
                                <input id="contentText" name="contentText" class="form-control" type="text" th:value="${clainfo.contentText}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">音视频类型 ：</label>
                            <div class="col-sm-6">
                                <div class="layui-input-block">
                                    <input type="radio" name="style" value="0" title="音频"
                                           th:checked="${clainfo.style == 0 ? true:false}">
                                    <input type="radio" name="style" value="1" title="视频"
                                           th:checked="${clainfo.style == 1 ? true:false}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>音/视频：</label>
                            <div class="col-sm-6">
                                <div class="layui-upload">
                                    <input id="audioUrl" name="audioUrl" class="form-control" type="text"
                                           th:value="${clainfo.audioUrl}">
                                    <button type="button" class="layui-btn" id="audioBtn">上传音/视频</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>封面图片：</label>
                            <div class="col-sm-6">
                                <div class="layui-upload">
                                    <input id="logoUrl" name="logoUrl" class="form-control" type="text"
                                           th:value="${clainfo.logoUrl}">
                                    <button type="button" class="layui-btn" id="logoBtn">上传封面图片</button>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="logoShow" th:src="${clainfo.logoUrl}">
                                        <p id="logoDemo"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">时长：</label>
                            <div class="col-sm-2">
                                <input id="minute" name="minute" class="form-control" type="text"
                                       th:value="${clainfo.minute}">
                            </div>
                            <label class="col-sm-1 control-label">分</label>
                            <div class="col-sm-2">
                                <input id="second" name="second" class="form-control" type="text"
                                       th:value="${clainfo.second}">
                            </div>
                            <label class="col-sm-1 control-label">秒</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否发布：</label>
                            <div class="col-sm-6">
                                <div class="layui-input-block">
                                    <input type="radio" name="isShow" value="0" title="不发布"
                                           th:checked="${clainfo.isShow == 0 ? true:false}">
                                    <input type="radio" name="isShow" value="1" title="发布"
                                           th:checked="${clainfo.isShow == 1 ? true:false}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否推荐：</label>
                            <div class="col-sm-6">
                                <div class="layui-input-block">
                                    <input type="radio" name="isRecommend" value="0" title="不推荐"
                                           th:checked="${clainfo.isRecommend == 0 ? true:false}">
                                    <input type="radio" name="isRecommend" value="1" title="推荐"
                                           th:checked="${clainfo.isRecommend == 1 ? true:false}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">简介：</label>
                            <div class="col-sm-6">
                                <textarea id="content_desc" name="content" style="display: none;" th:inline="text">[[${clainfo.content}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/classManager/clainfo/edit.js"/>
</body>
</html>
